{% extends 'base.html' %}
<!--
In this file, print the names of the people that have pets and,
as a sublist, the names of their pets.

This time without the pseudocode, show a list of lists
that contains the people that owns pets which you can
determine by the length of the person.pets collection.

Here's that structure of the lists, again, for you
to look at.

<ul>
  <li>
    Person name
    <ul>
      <li>Pet 1 name</li>
      <li>Pet 2 name</li>
      ... more pets ...
    </ul>
  </li>
  ... more people ...
</ul>
-->
{% block head %}
<title>Problem 41</title>
{% endblock head %}


{% block body %}
<main>
  <h1>Pet owners</h1>
  <ul>
    {% for person in people %}
      {% if person.pets.all|length > 0 %}
      <li>
        {{ person.name }}
        {% for pet_name in person.pets.all %}
        <ul>
          <li>{{ pet_name }}</li>
        </ul>
        {% endfor %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</main>
{% endblock body %}