{% extends 'base.html' %}
<!--
  The context has a key named "show_infromation"
  in it.

  Complete the pseudocode below to wrap the
  p tag in a Django if statement to only show
  the p tag if show_information is True
-->
{% block head %}
<title>Problem 004</title>
{% endblock head %}


{% block body %}
<main>
  <!-- If show_information is True -->
    {% if show_information %}
    <p><code>show_information</code> is true</p>
  <!-- End if -->
    {% endif %}

</main>
{% endblock body %}