{% extends 'base.html' %}
<!--
  The context has a key named "names" in it
  that is a list of names.

  Complete the pseudocode below to create an
  li (list item) tag using a Django for loop
  for each name in names.
-->
{% block head %}
<title>Problem 005</title>
{% endblock head %}


{% block body %}
<main>
  <ul>
    <!-- for each name in names -->
      {% for name in names %}
      <li>{{ name }}</li>
    <!-- End for -->
      {% endfor %}

  </ul>
</main>
{% endblock body %}
