{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Problem 015</title>
<link rel="stylesheet" href="{% static 'css/problem_015.css' %}">
{% endblock head %}


{% block body %}
<main>
  <div class="error">This is an error message</div>
  <p>Open <code>static/css/problem_015.css</code> to solve this.</p>
</main>
{% endblock body %}
