{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Problem 021</title>
<link rel="stylesheet" href="{% static 'css/problem_021.css' %}">
{% endblock head %}



{% block body %}
<main>
  <!--
    Build the whole unordered list from memory
    by looping over each name in the "names"
    key of the context and creating a list
    item where each odd item is grey and the
    others aren't.
  -->
  
  {% for name in names %}
  <ul>
    <li class="{% cycle 'class-1' 'class-2' %}">{{ name }}</li>
  </ul>
  {% endfor %}
</main>
{% endblock body %}
