{% extends 'base.html' %}

{% block head %}
<title>Problem 026</title>
{% endblock head %}


{% block body %}
<main>
  <!--
    In this one, we're constructing a table. Pay
    attention to all of it because pieces will
    disappear over the next couple of problems.

    Now, you need to add the for loop, the table
    row (tr) tag, the table data (td) tags for
    each row, and the table body (tbody) tag.

    This context has a list of Person objects stored
    in the "people" key.
  -->
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Pronouns</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
      <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.pronouns }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <!-- The open table body tag -->

      <!-- for each person in people -->

        <!-- Just the table row open tag -->

          <!-- The table data tag with the person.name in it -->

          <!-- The table data tag with the person.age in it -->

          <!-- The table data tag with the person.pronouns in it -->

        <!-- Just the table row close tag -->

      <!-- end for -->

    <!-- The close table body tag -->
  </table>
</main>
{% endblock body %}