{% extends 'base.html' %}

{% block head %}
<title>Problem 031</title>
{% endblock head %}


{% block body %}
<main>
<table>
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Pronouns</th>
  </thead>
  <tbody>
    {% for person in people %}
    <tr>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.pronouns }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
  <!--
    In this one, we're constructing a table. Pay
    attention to all of it because pieces will
    disappear over the next couple of problems.

    Finally, it's all gone. The open and close table
    tag need to go in there, now.

    This context has a list of Person objects stored
    in the "people" key.
  -->
</main>
{% endblock body %}