{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Problem 020</title>
<link rel="stylesheet" href="{% static 'css/problem_020.css' %}">
{% endblock head %}


{% block body %}
<main>
  <ul>
    {% for name in names %}
      <!--
        Use cycle where indicated in the following
        from memory
      -->
      <li class="{% cycle 'class-1' 'class-2' %}">{{ name }}</li>

    {% endfor %}
  </ul>
</main>
{% endblock body %}