{% extends 'base.html' %}

{% block head %}
<title>Problem 029</title>
{% endblock head %}


{% block body %}
<main>
  <table>
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Pronouns</th>
  </thead>
  <tbody>
    {% for person in people %}
    <tr>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.pronouns }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  <!--
    In this one, we're constructing a table. Pay
    attention to all of it because pieces will
    disappear over the next couple of problems.

    The table head (thead) and its table row (tr)
    tag are now gone, too.

    This context has a list of Person objects stored
    in the "people" key.
  -->

    <!-- A table head open tag-->

      <!-- A table row open tag -->

        <!-- A table header tag with the content "Name" -->

        <!-- A table header tag with the content "Age" -->

        <!-- A table header tag with the content "Pronouns" -->

        <!-- A table row close tag -->

    <!-- A table head close tag -->
    <!--
      The whole tbody, for loop, tr, and td tags to show
      each person's name, age, and pronouns.
    -->


</main>
{% endblock body %}
