{% extends 'base.html' %}
{% load static %}
<!--
For this file, please open the associated problem_038.css
file.

This file contains a list of people in divs as children
of the div with the "name-grid" class.
-->
{% block head %}
<link rel="stylesheet" href="{% static 'css/problem_038.css' %}">
<title>Problem 38</title>
{% endblock head %}


{% block body %}
<main>
  <div class="name-grid">
    {% for person in people %}
      <div class="name-grid-entry">
        <div class="name-grid-name">{{ person.name }}</div>
        <div class="name-grid-pronouns">{{ person.pronouns }}</div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock body %}
