{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>Problem 022</title>
<link rel="stylesheet" href="{% static 'css/problem_022.css' %}">
{% endblock head %}


{% block body %}
<main>
  <!--
    Do it, again, but this time swap the list
    items that are grey.

    Build the whole unordered list from memory
    by looping over each name in the "names"
    key of the context and creating a list
    item where each EVEN item is grey and the
    ODD ones aren't.
  -->
  {% for name in names %}
  <ul>
    <li class="{% cycle 'class-1' 'class-2' %}">{{ name }}</li>
  </ul>
  {% endfor %}
</main>
{% endblock body %}