{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Problem 016</title>
<link rel="stylesheet" href="{% static 'css/problem_016.css' %}">
{% endblock head %}
  <!--
    Add the link tag using the static Django tag to
    load the "css/problem_016.css" file.
 
    Refer to templates/problem_015/view.html if you
    cannot remember what it looks like.

    Link tags do not have close tags, just open tags.

    Tag name: link
    Attributes:
      * rel="stylesheet"
      * href="{% static 'css/problem_016.css' %}"
  -->
 

{% block body %}
<main>
  <div class="error">This is an error message</div>
  <p>
    Add the <code>link</code> tag to this HTML template
    to load <code>css/problem_016.css</code> using the
    <b>static</b> Django tag.
  </p>
</main>
{% endblock body %}